<h4>FAQ</h4>
<div class="accordion" id="accordionExample">
  <div class="card">
    <% @service.faqs.each do |faq| %>
	    <div class="card-header" id="headingOne">
	      <h5 class="mb-0">
	        <button class="btn btn-button" type="button" data-toggle="collapse" data-target="#collapseOne<%= faq.id %>" aria-expanded="true" aria-controls="collapseOne">
	          <%= faq.question %>
	        </button>
	      </h5>
	    </div>
	    <div id="collapseOne<%= faq.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
	      <div class="card-body">
          <%= faq.answer %>
	      </div>
	    </div>
    <% end %>
  </div>
</div>
<style type="text/css">
.btn-button {
  background-color: purple;
  border: purple;
  color: white;
}

.btn-button:hover {
  background-color: purple;
  border: purple;
  text-decoration: none;
}

</style>