<div class="underline">
  <p class="h4 pb-2">Seller Lives In</p>
  <% @services.group_by{|s| s.seller}.each do |seller,service| %>
    <label class="Checkbox-form">
      <%= f.check_box :seller_country_in,{multiple: true,:onclick => 'my_submit(this)'},seller.country,"" %><%= seller.country %>
      <span class="checkmark"></span>
    </label>
    <span class="OnlineCheckBoxNum">(<%= service.count %>)</span>
  <% end %>
  <a href="#" class="ServicesInclude">+ Show more</a>
</div>