<div class="underline">
    <p class="h4 pb-2">Seller Level</p>
    <label class="Checkbox-form">
      <input type="checkbox" id="NewSeller" name="NewSeller" value="NewSeller">New Seller
      <span class="checkmark"></span>
    </label>
    <span class="OnlineCheckBoxNum">(37)</span>
    <label class="Checkbox-form">
      <input type="checkbox" id="LevelOne" name="LevelOne" value="LevelOne">Level One
      <span class="checkmark"></span>
    </label>
    <span class="OnlineCheckBoxNum">(45)</span>
    <label class="Checkbox-form">
      <input type="checkbox" id="LevelTwo" name="LevelTwo" value="LevelTwo">Level Two
      <span class="checkmark"></span>
    </label>
    <span class="OnlineCheckBoxNum">(23)</span>
    <label class="Checkbox-form">
      <input type="checkbox" id="TopRatedSeller" name="TopRatedSeller" value="TopRatedSeller">Top Rated Seller
      <span class="checkmark"></span>
    </label>
    <span class="OnlineCheckBoxNum">(15)</span>
  </div>