<div class="container font-weight-bold">  
  <%= simple_form_for @service do |f|  %>
    <%= f.input :requirements,label: 'Gig Requirement', required: true, hint: 'MAXIMUM 1000 CHARACTERS', placeholder: ' Structure your Buyer Instructions as free text, a multiple choice question or file upload.',:maxlength=>"1000", input_html: {rows: "3"},as: :text  %>
    <div>
      <span class="inline-block float-right">
        <%= f.input :wizard,as: :hidden, :input_html => { :value => "gallery" } %>
        <%= f.submit "Save & Continue", class: "btn btn-outline-success" %>
      </span> 
    </div>
  <% end %>
</div>