<p>Hi <%= @order_item.order.user.full_name %>!</p>
<% if @role == "buyer" %>
	<p>Your <%= link_to 'Order',order_url(@order_item) %> Cancel Request sent Successfully.</p>
<% else %>
	<p>You got cancel <%= link_to 'Order',order_url(@order_item) %> Request.</p>
<% end %>
<p>You Seller is <%= @order_item.package.service.seller.full_name %></p>
