 <section id="SortBluf">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="SortBlufHead">
          <div class="SortBlufLink"><%= link_to "Fiverr",root_path %></div>
          <h1>My Favorites</h1>
          <p class="SortBlufDescription">This is my favorites services</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>
