<%= render 'favorites/fav_header' %>
<div class="container-fluid px-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="row" id="services-row">
        <%= render partial: 'shared/services-row', locals: {services: @services} %>
      </div>
    </div>
  </div>
</div>
<div class="pagination text-success justify-content-center mt-5">
  <%= paginate @services %>
</div>