$(".conversation-file-container").html('<div class="file-container"><img class= "thumb" src="<%= @chat.image.url %>" /><a href="javascript:;" onclick="$(\'.conversation-file-container\').html(\'\')">X</a></div>');
