<li class="list-group-item">
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <%= image_tag @order.order.user.check_avatar, class: 'img-circle profile-img', alt: "" %>
    </div>
    <div class="col-xs-10 col-md-11">
      <div>
        <div class="mic-info">
          By: <%= link_to "#{@order.package.service.seller.full_name}",profile_path(@order.order.user) %> <%= time_ago_in_words(@order.seller_star_status.created_at) %>
        </div>
      </div>
      <div class="comment-text"><%= @order.seller_star_status.comment %></div>
      <div class="action">
        <div class="mb-3" id="seller-stars"></div>
      </div>
    </div>
  </div>
</li>