<div id="cli" class="tab-pane active"><br>
  <div class="container">
    <!-- <h2 class="display-5 text-center py-3">How Its Work</h2> -->
    <div class="row">
      <% Client.all.each do |c| %>
        <div class="col-md-4">
          <center>
             <%= image_tag c.image_url, class: "images"%>
          </center>
          <h2 class="display-5 text-center"><%= c.heading %></h2>
          <p class="text-center display-6"><%= c.instruction %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>