<div id="cli" class="tab-pane active"><br>
  <div class="container">
    <!-- <h2 class="display-5 text-center py-3">How Its Work</h2> -->
    <div class="row">
      <div class="col-md-4">
        <center><%= image_tag "1mg4.png", :class=>"images" %></center>
        <h2 class="display-5 text-center">Create an Account</h2>
        <p class="text-center display-6">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
      </div>
      <div class="col-md-4">
        <center><%= image_tag "img5.png", :class=>"images" %></center>
        <h2 class="display-5 text-center">Find a service</h2>
        <p class="text-center display-6">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
      </div>
      <div class="col-md-4">
        <center><%= image_tag "img6.png", :class=>"images" %></center>
        <h2 class="display-5 text-center">Choose as expert</h2>
        <p class="text-center display-6">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
      </div>
    </div>
  </div>
</div>