<% if ["seller_personal_info","seller_professional_info","seller_linked_accounts","seller_account_security"].include?(params[:action]) %>
	<div class="cat-bar">
    <%= render partial: "/layouts/user_steps" %>  
  </div> 
</div>
<% elsif !@set_bar.blank? %>
  <div class="cat-bar">
    <%= render partial: "/layouts/services_steps" %>
  </div>
<% else %>
	<div class="cat-bar">
	  <div class="container-fluid">
	    <ul class="nav nav-fill">
	      <% @categories.each do |category| %>
	        <li class="nav-item">
	          <%= link_to category.title, services_category_path(category), class: 'nav-link' %>
	        </li>
	      <% end %>
	    </ul>  
	  </div> 
	</div>
<% end %>