<div id="paypal-form-modal">
  <div class="modal" tabindex="-1" role="dialog" id="paypal-modal">
    <div class="modal-dialog" role="document">
      <%= simple_form_for @user, url: add_paypal_email_path, method: 'put' do  |f|%>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">PayPal Transfer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= f.error_notification %>
            <%= f.input :paypal_email, required: true, :input_html => { :value => current_user.email }%>
            <span>you can use other email for paypal</span>
          </div>
          <div class="modal-footer">
            <%= f.submit "Submit", class: "btn change-color" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<style type="text/css">
  .change-color{
    background-color: purple;
    color: white;
  }
  .change-color:hover{
    background-color: purple;
  }
  .change-color:active{
    background-color: purple;
  }
</style>