<div class="border border-light"> 
  <div class="owl-carousel owl-theme owl-loaded">
    <div class="owl-stage-outer">
      <div class="owl-stage">
        <%# @order.order_cancels.each do |order_cancel| %>
          <%# if order_cancel.user_id != current_user.id && order_cancel.pending? %>
            <!-- <div class="review-header pt-3">
              <h5 class="text-center">Order have an issue please resolve</h5>
            </div>
            <div class="review-header pt-3 row text-center">
              <div class="col" style="padding-bottom: 5%">
                <%#= link_to "Resolve Me", order_dispute_path(order_cancel),class: "btn change-color" %>  
              </div>
            </div> -->
          <%# end %>
        <%# end %>
        <div class="review-header pt-3">
          <h5 class="text-center">ANY ISSUES WITH THE ORDER?</h5>
        </div>
        <div class="review-header pt-3 row text-center">
          <div class="col" style="padding-bottom: 5%">
            <%= link_to "Visit Order Help Center", order_cancel_path(@order),class: "btn change-color" %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
