<div class="border border-light"> 
  <div class="owl-carousel owl-theme owl-loaded">
    <div class="owl-stage-outer">
      <div class="owl-stage">
        <div class="review-header pt-3">
          <h5 class="text-center">Need to Change or cancel your Order?</h5>
        </div>
        <div class="review-header pt-3 row text-center">
          <div class="col">
            <%= link_to "Visit Resolution Center", order_cancel_path(@order),class: "btn btn-info" %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  