<div class="container">
  <div class="row">
    <center>
      <ul id="myTab-kv-1" class="nav nav-tabs nav-justified" role="tablist" style="text-align: center;">
        <li class="active"><a href="#home-kv-1" role="tab" data-toggle="tab">
          <img src="img2.png" style="height: 18px; width: 23px;padding-right: 4px;"></i>CLIENTS</a>
        </li>
        <li>
          <a href="#profile-kv-1" role="tab-kv" data-toggle="tab"><img src="img3.png" style="height: 18px; width: 20px;">
            FREELANCERS
          </a>
        </li>               
      </ul>
    </center>
    <br>
    <br>    
    <div class="col-md-12 col-md-4 col-sm-4">
      <div class="tabs-x ">
        <div id="myTabContent-kv-1" class="tab-content">
          <div class="tab-pane fade in active" id="home-kv-1">
            <div class="container">
              <h2 class="display-4 text-center">How Its Work</h2>
                <div class="row">
                  <div class="col-md-4">
                    <center><img src="1mg4.png" style="height: 50px; width: 50px;"></center>
                    <h2 class="display-4 text-center">Create an Account</h2>
                    <p class="text-center">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                  </div>
                  <div class="col-md-4">
                    <center><img src="img5.png" style="height: 50px; width: 50px;"></center>
                    <h2 class="display-4 text-center">Find a gig</h2>
                    <p class="text-center">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                  </div>
                  <div class="col-md-4">
                    <center><img src="img6.png" style="height: 50px; width: 50px;"></center>
                     <h2 class="display-4 text-center">Choose as expert</h2>
                     <p class="text-center">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile-kv-1">
              <div class="tab-pane fade in active" id="home-kv-1">
              <div class="container">
                <h2 class="display-4 text-center">How Its Work</h2>
                <div class="row">
                  <div class="col-md-3">
                    <center><img src="1mg4.png" style="height: 50px; width: 50px;"></center>
                    <h2 class="display-4 text-center">Create an Account</h2>
                    <p class="text-center">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                  </div>
                  <div class="col-md-3">
                    <center><img src="img5.png" style="height: 50px; width: 50px;"></center>
                    <h2 class="display-4 text-center">Create an Account</h2>
                    <p class="text-center">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                  </div>
                  <div class="col-md-3">
                    <center><img src="img6.png" style="height: 50px; width: 50px;"></center>
                    <h2 class="display-4 text-center">Create an Account</h2>
                    <p class="text-center">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                  </div>
                  <div class="col-md-3">
                    <center><img src="1mg4.png" style="height: 50px; width: 50px;"></center>
                    <h2 class="display-4 text-center">Create an Account</h2>
                    <p class="text-center">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                  </div>
                </div>
              </div>
            </div>
            </div>          
          </div>
        </div>
        <!-- /tabs-above -->
    </div>
</div>
<style type="text/css">
  .nav-tabs.nav-justified{
    width: 40%;
    border-bottom: 0;
  }
  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
      border-bottom-color:#1b8a37;
      border-width: 4px;
    }          
</style>