<!-- HOME CATEGORY SECTION -->
<section id="home-category" class="py-5">
  <div class="container">
    <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4 mb-4 text-center">
        <div class="thumbnail">
          <a href="<% link_to category.title,services_category_path(category) %>">
            <img src="<%= category.image_url %>" style="width: 200px; height: 200px; object-fit: cover;">
            <div class="caption">
              <p><%= category.title %></p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

<style type="text/css">
.thumbnail {
  position: relative;
  /*text-align: center;*/
  /*color: white;*/
}

/* Centered text */
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>