<div class="py-3">
  <% if @order.cancelled? %>
    <%#= render partial: '/orders/forms/order_cancel_approval_form' %>
  <% elsif @order.active? || @order.delivered? %>
    <% if current_user.sellers? && @order.package.service.user_id == current_user.id %>
      <% unless @order.delivered? %>
        <%= render partial: '/orders/forms/order_delivered_form' %>
      <% end %>
    <% else %>
      <% unless @order.completed? %>
        <%= render partial: '/orders/forms/order_complete_form' %>
      <% end %>
    <% end %>
  <% end %>
</div>