<div class="underline">
  <p class="h4 pb-2">Seller Availability</p>
  <label class="Checkbox-form">
    <input type="checkbox" id="SellerAvailability" name="SellerAvailabilityOnline" value="SellerAvailability">Online
    <span class="checkmark"></span>
  </label>
  <span class="OnlineCheckBoxNum">(18)</span>
</div>