<div class="row bootstrap snippets py-3 tab-pane" id="buyers_refunds">
	<table class="table responsive table-hover table-condensed mb25" data-sortable data-sortable-initialized="true">
	  <thead>
	    <tr>
	      <th>Order No</th>
	      <th>Reason</th>
	      <!-- <th>Admin Reason</th> -->
	      <th>status</th>
	      <th>Created at</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @order_refunds.each do |item| %>
	    	<tr>
	        <td class="align-middle"><%= link_to item.order_item_id,order_path(item.order_item_id),'target' => '_blank' %></td>
	        <td class="align-middle"><%= item.user_reason %></td>
	        <!-- <td class="align-middle"><%#= item.admin_reason %></td> -->
	        <td class="align-middle">
	        	<%# if item.pending? %>
	        		<!-- <div class="badge badge-info">pending</div> -->
	        	<%# elsif item.rejected? %>
	        		<!-- <div class="badge badge-danger">rejected</div> -->
	        	<%# elsif item.approved? %>
	        		<!-- <div class="badge badge-success">approved</div> -->
	        	<%# end %>
	        	<% if item.pending? %>
	        		<div class="badge badge-info">pending</div>
	        	<% elsif item.refund_request_accepted? %>
	        		<div class="badge badge-success">REFUND REQUEST ACCEPTED</div>
	        	<% elsif item.refund_request_declined? %>
	        		<div class="badge badge-danger">REFUND REQUEST DECLINED</div>
	        	<% end %>	
	        </td>
	        <td class="align-middle"><%= item.created_at.strftime("%d %B %Y") %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>