<div class="container">
  <h4>Extend Delivery</h4>
  <p>Welcome! Here you can work things out resolve issues regarding your order.</p>
  <hr>
  <%= render partial: 'order_cancels/forms/order_cancel_details_form'%>
</div>