<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class=""> 
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <h4>
                <% if params[:level] == "seller_extend_delivery_time" %>
                  Extend Delivery
                <% elsif params[:level] == "seller_ask_buyer_to_cancel_order" || params[:level] =="buyer_ask_seller_to_cancel_order" %>
                  Cancel Order Request
                <% elsif params[:level] == "buyer_seller_is_not_responding" || params[:level] == "seller_buyer_is_not_responding" %>
                  Not Responding Request
                <% elsif params[:level] == "buyer_seller_did_late_delivery" %>
                  Late Delivery
                <% end %>
              </h4>
      			  <p>Welcome! Here you can work things out resolve issues regarding your order.</p>
      			  <hr>
              <% if params[:level] == "seller_extend_delivery_time" %>
    				    <%= render partial: 'order_cancels/forms/cancel_extend_form'%>
              <% elsif params[:level] == "seller_modify_order" %>
                <%= render partial: 'order_cancels/forms/cancel_modify_form'%>
              <% else %>
                <%= render partial: 'order_cancels/forms/cancel_request_form'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <%= render partial: 'orders/order_sidebar_detail' %>
    </div>
</div>