<%= f.simple_fields_for :extra_basic_packages do |basic| %>
  <table class="table">
    <tr>
      <td class="col-md-2">Premimum</td>
      <td><%= basic.input :delivery_time,collection: Package::BASIC_DELIVERY,required: true %></td>
      <td><%= basic.input :price,collection: Package::BASIC_PRICE,required: true %></td>
    </tr>
  </table>
<% end %>