<%= f.simple_fields_for :extra_premimum_package do |basic| %>
  <table class="table">
    <tr>
      <td class="col-md-2">Premimum</td>
      <td><%= basic.input :delivery_time,collection: Package::BASIC_DELIVERY %></td>
      <td><%= basic.input :price,collection: Package::BASIC_PRICE %></td>
    </tr>
  </table>
<% end %>