<section id="footer">
  <footer class="container-fluid mt-5">
    <div class="row pull-right">
      <%= form_tag set_coookie_for_currency_path,:id => 'currencies', method: :get do %>
        <% if current_user.blank? %>
          <% if cookies['currency'].blank? %>
            <%= select_tag "currency", options_for_select(User::CURRENCY_LIST) %>
          <% else %>
            <%= select_tag "currency", options_for_select(User::CURRENCY_LIST,cookies['currency']) %>
          <% end %>
        <% else %>
          <%= select_tag "currency", options_for_select(User::CURRENCY_LIST,current_user.currency) %>
        <% end %>
      <% end %>
    </div>
    <!-- <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        </hr>
    </div> -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>Testing is a MarketPlace to bridge You and the Talented </p>
        <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.zenofruby.com" target_blank">Zen of Ruby</a></p>
      </div>
      </hr>
    </div>
  </footer>
</section>
<script type="text/javascript">
  $('#currency').on('change',function(){
    $('#currencies').submit();
  });
</script>
